<!DOCTYPE html>
<html>
<head>
  <title>Department Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="department-body">
  <%- include("partials/header", { user: user }) %>
   <div class="main-content"> 
  <div class="container">
    <h2>Department Complaints</h2>

    <% if (complaints.length === 0) { %>
      <p>No complaints assigned.</p>
    <% } %>

    <% complaints.forEach(c => { %>
      <div class="card">
        <p><strong>Message:</strong> <%= c.message %></p>
        <p class="status">Status: <%= c.status %></p>

        <form method="POST" 
        action="/department/update-status/<%= c._id %>" 
        enctype="multipart/form-data">

        <select name="status" onchange="toggleResolved(this, '<%= c._id %>')">
            <option>Pending</option>
            <option>In Progress</option>
            <option>Resolved</option>
        </select>

        <div id="resolved-box-<%= c._id %>" style="display:none; margin-top:10px;">
            <input type="file" name="proofDocument" accept="application/pdf" />
            <textarea name="remarks" placeholder="Enter remarks..."></textarea>
        </div>

        <button style="padding: 10px;" type="submit">Update</button>
        </form>
      </div>
    <% }) %>
  </div>
  <script src="/socket.io/socket.io.js"></script>

<script>
  const socket = io();

  // join personal room
  socket.emit("join", "<%= user._id %>");

  socket.on("newNotification", (data) => {
    // 🔥 SIMPLE POPUP
    alert("🔔 " + data.message);

    // optional: reload page
    // location.reload();
  });
</script>
</div>
<%- include("partials/footer") %>
</body>
<script>
function toggleResolved(select, id) {
  const box = document.getElementById("resolved-box-" + id);
  if (select.value === "Resolved") {
    box.style.display = "block";
  } else {
    box.style.display = "none";
  }
}
</script>
</html>